{% extends 'layout.html' %}

{% block body %}
    <h1>Page d'accueil</h1>

    <article class="panel panel-primary" style="margin-top: 1%;">
        <h2 class="title">Informations</h2>

        <div class="body">
            <p>Tutoriel sur l'utilisation de nikic/fast-route.</p>
            <p>Le site est minimaliste et présente simplement une liste de liens.</p>
            <p>Le tutoriel est orienté autour du moteur de routing. C'est le seul élément qui nécessite d'être développé.</p>
            <p>La liste de liens, est gérée dans un fichier texte pour plus de simplicité.</p>
        </div>
    </article>
{% endblock %}
